ul{
    list-style: none;
    display: block;
}
.all-before-all{
    width:0;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 99999999;
    background-color: black;
    opacity: .3;
    animation: all1 1s linear;
}
@keyframes all1{
    0%{
        width:100%;
    }
    100%{
        width:0;
    }
}
header{
    width:100%;
    height:40px;
    background-color: #333;
}
.header-join li,.header-middle li{
    float: left;
    line-height: 40px;
    margin-right: 32px;
}
.header-qr{
    width: 130px;
    height: 150px;
    background-color: white;
    position: absolute;
    text-align: center;
    line-height: 20px;
    display: none;
    z-index: 2000;
    font-size: 14px;
    margin-left:-15px;
}
.header-join li:nth-child(3):hover .header-qr{
    display:block;
}
body,div,ul,h1,h2,h3,h4,h5,p,dl,dd,dt{
    margin: 0;
    padding:0;
}
div{
    display: block;
}
.zuipin-wrapper{
    margin:0 auto;
    position: relative;
    width:1226px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #b0b0b0;
}
header .zuipin-wrapper a:hover,.head-search a:hover,.head-seal a:hover,footer a:hover,.hot-head a:hover{
    color:orangered;
    padding-bottom: 1px;
} 
.float-left{
    float: left;
}
.float-right,.header-middle-div{
    float: right;
}
.cart-info{
    margin-left: 16px;
    position: relative;
    height: 40px;
    background-color: #ff3600;
    transition: 0.5s;
}
.float-right dl{
    height: 40px;
    margin:0 auto;
}
.clearfix:before{
    display: table;
    content:"";
}
.clearfix:after{
    display: block;
    content:"";
	clear:both;
}
.cart-list{
    height:40px;
    width:120px;
    text-align: center;
    font-weight: 500;
}
.cart-list a{
    line-height: 40px;
}
.cart-info:hover{
    background: #fff;
}
 .cart-info:hover dl dt a{
    color:#ff3600;
} 
.cart-info dl dt a{
    color:white;
    font-size: 16px;
}
.top-hf{
    width:100%;
    height:100px;
    background-color: #fff;
}
.head-search{
    width:100%;
    box-sizing: border-box;
    margin-top: 25px;
}
.head-search-small{
    position: relative;
    margin:0 auto;
    height:100px;
    width:1226px;
}
.head-searchlogo{
    width:190px;
    height:61px;
    float: left;
}
.head-search-main{
    width: 490px;
    height:99px;
    float: left;
    padding-left: 44px;
}
.head-search-main a{
    margin-right: 10px;
}
.head-search-qrcode:after{
    clear:both;
    display:table;
    content:" ";
}
.head-seal::before{
    display:table;
    content:" "; 
    clear:both;
}
.search-text{
    border: 1px solid #e0e0e0;
    width:490px;
    height:38px;
    position: relative;
}
.search-pic{
    height:42px;
    border:1px solid #e0e0e0;
    width:56px;
    position: absolute;
    right:500px;
    bottom:58px;
}
.search-pic:hover{
    border-color: #ff3600;
    background-color: #ff3600;
}
.search-pic:hover~.search-text{
    border-color: #ff3600;
}
.head-search-behind ul li{
    height:38px;
    width:85px;
    color:#b2b2b2;
    font-size: 10px;
}
.head-seal{
    height:60px;
    position: relative;
}
.head-seal-all{
    line-height: 60px;
    width:234px;
    position: absolute;
    left:322px;
}
.head-seal-main ul li{
    float: left;
    line-height: 60px;
    margin-left:20px;
}
.head-seal-main{
    float:left;
    line-height: 60px;
    position: absolute;
    left:505px;;
}
.head-seal-main ul li a{
    color:black;
}
.head-seal-main ul li a:hover{
    color:orangered;
}
.head-search-qrcode{
    height:100px;
    position: relative;
}
.head-search-qrcode p{
    margin:0;
    font-size: 12px;
    color:#b2b2b2;
}
/*********************轮播左边的框框*********************************/
.swiper-box{
    width:241px;
    height:386px;
    position: absolute;
    z-index: 20;
    top:60px;
    left:288px;
    border: 2px solid #ff3600;
}
.sb-second{
    width:241px;
    height:385px;
    background-color:#fff;
}
.sb-second dl{
    padding: 0 24px 20px;
    width: 194px;
    height: 35px;
}
.sb-second dd{
    width:130px;
}
.sb-second dd ul{
    width:130px;
    margin-left: 15px;
}
.sb-second dd ul li{
    width:60px;
    height:16px;
    float: left;
    line-height: 16px;
    margin-right: 4px;
}
.sb-second dd ul li a{
    font-size: 12px;
}
.sb-second dl:hover{
    background-color: #ff3600;
}
.sb-second dl:hover dd ul li a,.sb-second dl:hover dt a{
    color:#fff;
}
.big-title a{
    width:50px;
    font-size:16px;
    white-space: nowrap;
    overflow: hidden;
    height:30px;
    display:inline-block;
    text-align:justify;
    vertical-align: top;
    color:black;
}
.colunm-more{
    position: absolute;
    width:320px;
    height:386px;
    background-color: white;
    left:243px;
    top:0px;
    overflow: hidden;
    display:none;
}
.colunm-small{
    float:left;
    width:133px;
    padding: 20px 0 20px 27px;
}
.colunm-small a:first-child img{
    width:36px;
    height:36px;
    vertical-align: middle;
}
.colunm-more ul li a:last-child,.colunm-line ul li a:last-child{
    font-size: 12px;
    color:#444;
    margin-left: 14px;
    margin-top: 11px;
    width: 83px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sb-second div ul li a:hover{
    color:#ff3600;
}
.sb-second dl dt a:hover{
    color:white;
}
.sb-second dl:hover div{
    display:block;
}
.colunm-line{
    width: 248px;
    height: 386px;
    background-color: #fff;
    position: absolute;
    left: 243px;
    top:0px;
    display:none;
}
.line-small a:first-child img{
    width:36px;
    height:36px;
    vertical-align: middle;
}
.colunm-line ul li{
    padding:20px 0 20px 27px;
}
/********************************************鼠标悬停下拉框结束**************************************************/
/***********************************************背景色突出部分开始***********************************************/
.content{
    background-color: #f5f5f5;
    height:40px;
}
.content .zuipin-wrapper li{
    float: left;
    line-height: 40px;
    font-size: 12px;
    color: #d2d2d2;
    margin-right: 5px;
}
.content .zuipin-wrapper li a:hover{
    color:orangered;
}
/********************************************图片加详情部分**************************************************/
.goods-pad{
    width: 100%;
    padding-top: 34px;
    padding-bottom: 30px;
    background-color: #fff;
    height:499px;
}
.prev-lead{
    display: block;
    width: 72px;
    height: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border: 1px solid #ccc;
    background-image: url(../img/good/arrow.png);
    background-repeat: no-repeat;
    background-position: -28px -93px;
    cursor: pointer;
    top: -16px;
}
.next-lead{
    display: block;
    width: 72px;
    height: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border: 1px solid #ccc;
    background-image: url(../img/good/arrow.png);
    background-repeat: no-repeat;
    background-position: -28px -132px;
    cursor: pointer;
}
.disabled{
    opacity: .4;
}
.pf-left{
    margin-top:42px;
    margin-left:14px;
}
.around-small{
    height:380px;
    overflow-y: hidden;
}
.around-small ul li img{
    width:72px;
}
.around-small ul{
    transition: all 0.3s;
}
.around-large ul li{
    display:none;
}
.around-large ul li img{
    width:482px;
    height:482px;
    position: absolute;
    left:160px;
}
.around-large ul .show{
    display:block;
}
.around-text{
    width:552px;
}
.picfocus{
    width:674px;
    height:482px;
}
.g-title{
    font-size:20px;
    color:#000;
    margin-bottom:16px;
    font-weight:bold;
}
.g-scr{
    color:#666;
    margin-bottom:16px;
    font-size:14px;
}
.height-1{
    width:100%;
    border-bottom:1px solid #ccc;
    margin-bottom: 16px;
}
.around-text dl dt,.around-text dl dd{
    color:#ccc;
    font-size:14px;
}
.around-text dl span{
    color:#666;
    margin-left: 40px;
}
.around-text dl dd{
    margin-bottom: 16px;
}
.around-text dl .hy{
    margin-left: 0;
    font-size: 24px;
    font-weight: bold;
    color:#b60005;
}
.tips-text-wrap:first-child{
    margin-top:-14px;
}
.tips-text-wrap{
    padding-left: 80px;
    padding-bottom: 10px;
    display: flex;
}
.icon-text{
    width: 36px;
    height: 20px;
    border: 1px solid red;
    background-color: #fff;
    color: #ff3600;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}
.tips-text{
    width: 430px;
    line-height: 20px;
    font-size: 12px;
    color: #333;
}
.g-pp{
    width:552px;
    height:19px;
}
.g-pp ul li span{
    margin-left: 0px;
}
.g-pp ul li span:first-child{
    color:#ccc;
}
.g-pp ul li span:last-child{
    color:#000;
    margin-left:45px;
    font-size: 14px;
}
.g-pp ul li,.g-last ul li{
    float: left;
    margin-right: 20px;
}
.g-sl{
    width:552px;
    height:31px;
}
.jian{
    width: 20px;
    height: 30px;
    margin-left: 46px;
}
.text-num{
    width: 44px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    text-indent: 0;
    position: relative;
    top: 1px;
}
.plus{
    width: 20px;
    height: 30px;
}
.g-cart{
    cursor: pointer;
    background-color: #ff3600;
    width:266px;
    text-align: center;
    color:#e9e9e9;
    font-size: 16px;
    background-image: url(../img/good/addcart.png);
    background-repeat: no-repeat;
    background-position: 60px center;
    height:50px;
    line-height: 50px;
}
/**************************************详情描述/评论晒单***************************************/
#list-src{
    border-top: 2px solid #ccc;
    width: 100%;
    background-color: #fff;
    height:58px;
}
.sel-shop{
    width: 610px;
    height: 18px;
    line-height: 18px;
    color: #666;
    padding: 20px;
    margin: auto;
}
.sel-shop ul li{
    float:left;
    text-align: center;
}
.sel-shop ul li:first-child{
    border-left: 1px solid #ccc;
    width: 302px;
    cursor: pointer;
}
.sel-shop ul li:last-child{
    border-left: 1px solid #ccc;
    width: 305px;
    border-right:1px solid #ccc;
    cursor: pointer;
}
.sel-shop ul li:last-child:hover{
    color:#ff3600;
}
.on{
    color:#ff3600;
}
.tab{
    width: 200%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.tab-xq dl dt{
    width: 1106px;
    padding: 48px 60px;
    background-color: #fff;
}
.tab-xq dl dt ul li{
    float: left;
    width: 368.6px;
    height: 19px;
    margin-bottom: 20px;
    overflow: hidden;
}
.tab-xq dl dt ul li span{
    font-size:14px;
    color:#333;
}
.tab-xq dl dd p{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.xqms{
    padding-top: 16px;
    width: 100%;
    background-color: #f5f5f5;
}
/*********************************************顶部悬浮******************************************/
#list-s.list-src{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    animation: tobd .5s linear;
    width: 100%;
    background-color: #fff;
    display:none;
}
.goods-sth{
    position: absolute;
    left: 0;
    top: 4px;
    width: 236px;
    height: 50px;
}
.goods-sth-img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 14px;
}
.goods-sth-text{
    width:172px;
}
.sth-text{
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: #757575;
    margin-top: 5px;
}
.sth-price{
    font-size: 14px;
    color: #c00000;
}
.goods-sth-img img {
    width: 50px;
    height: 50px;
}
.goods-buyNow{
    position:absolute;
    right:0;
    top:9px;
    background-color: #ff3600;
    color:#fff;
    width:162px;
    height:40px;
    cursor: pointer;
    line-height:40px;
    text-align: center;
    transition: all 0.2s;
}
@keyframes tobd{
    0%{
        top:-58px;
    }
    25%{
        top:-29px;
    }
    50%{
        top:-14.5px;
    }
    100%{
        top:0px
    }
}
/*******************************************网页底部的css*************************************/
.foot-text li span{
    float: left;
}
.foot-text li{
    line-height: 32px;
    padding:0 61px 0 0px;
    float:left;
    margin-left: 79px;
    border-right:1px solid black; 
    text-align: center;
}
.foot-text{
    width:100%;
    height:32px;
    padding-left:0px !important;
}
.foot-head{
    margin-bottom: 25px;
}
#the-last{
    border-right:none;
}
 footer dl{
    float:left;
    text-align: center;
}
footer dl dt{
    margin-left:83px;
}
footer dd{
    margin:13px 0 0 83px;
}
.foot .foot-tim p{
    text-align:center;
    font-size:14px;
}
.foot{
    padding:40px 100px 40px 100px;
}
.foot-tim{
    float:left;
    text-align: center;
    width:227px;
    height:145px;
    margin-left:77px;
    margin-top:10px;
    border-left:1px solid #e0e0e0;
    padding-left: 20px;
}
#online-server{
    height:30px;
    width:120px;
    border:1px solid orange;
    text-align: center;
    color: #ff3600;
    padding:5px 37px 5px;
    transition-duration: 0.5s;
    margin-top:50px;
    position:relative;
    top:55px;
    z-index:1;
}
#phone-n{
    font-size: 24px;
    color:#ff3600 ;
    margin:0;
    padding:0;
}
#online-server:hover{
    border:1px solid #ff3600;
    background-color:#ff3600;
    color:white;
}
.foot-pic{
    color:#757575;
    width:175px;
    height:145px;
    float:right;
    margin-right:214px;
    border-left:1px solid #e0e0e0;
    margin-top:10px;
}
.foot-pic img{
    margin-left:53px;
}
.foot-pic p{
    margin-left:63px;
}
.foot::after{
    content:" ";
    clear:both;
    display:block;
}
.foot-bottom{
    width:100%;
    padding:30px 0;
    background-color:#333333;
    float: left;
}
#foot-bg:before{
    display:block;
    content:"";
    clear:both;
}
#foot-afterbigz{
    float:left;
}
.about-us{
    padding:0 10px;
    display:inline;
}
#foot-bigz{
    margin:auto 80px;
}
#foot-bg div{
    float: left;
}
.about-us li{
    line-height: 30px;
    float:left;
    text-align:center;
    margin-right:25px;
}
.about-us::after{
    display:block;
    content:"";
    clear:both;
}
#company{
    height:16px;
    font-size:12px;
    margin-bottom: 6px;
    margin-top:-15px;
}
#company::after,#foot-number::before{
    display:block;
    content:"";
    clear:both;
}
#foot-afterbigz #foot-number{
    margin:6px 0;
}
#foot-afterbigz p,#foot-afterbigz span{
    color:rgba(100, 100,100,0.58);
}
#after-dt ul li{
    float:left;
    margin-left:80px;
}
/********************************网页底部结束*********************************************/